*{
    margin: 0;
    border: 0;
}
.container
{
    margin-top: 14em;
    
}
.form{
    background-color: aquamarine;
    padding: 1em;
    border-radius: 8px;
    
}
.form h1{
    align-items:center ;
    justify-content: center;
}
#notification{
    color: red;
}